Django>=4.1,<4.2
django-taggit>=3.0
django-hitcount>=1.3.5
django-simple-captcha>=0.5.17
git+https://github.com/shtalinberg/django-el-pagination
fontawesomefree>=6.2.0
wagtail>=4.0,<4.1
wagtail-markdown>=0.10.0
wagtailmenus>=3.1.3

