{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}


{% block css %}
<link href="{% static 'waggylabs/css/codehilite-styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


<h1 class="{{ page.title_style }}">{{ page.title }}</h1>
{% block content %}

{% include_block page.body %}

{% endblock content %}

{% block sidebar %}

{% if page.show_sidebar %}
    {% for block in page.sidebar %}
        {% include_block block %}
    {% endfor %}
{% endif %}

{% endblock sidebar %}

{% block js %}

{% endblock %}




