{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
{% load wagtailmarkdown %}
{% load menu_tags %}


{% block extra_css %}
<link href="{% static 'waggylabs/css/codehilite-styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<h1>{{ page.title }}</h1>

{% if page.show_header_image_on_page %}
<figure class="figure">
    {% image page.header_image original class='img-fluid' %}
</figure>
{% endif %}

<div id="page-body">
{% for block in page.body %}
    {% if block.block_type != 'citation' and block.block_type != 'document' %}
    {% comment %}these blocks a rendedered at the end of the page as references{% endcomment %}
    {% include_block block with id=block.id %}
    {% endif %}
{% endfor %}

    <div id="literature">
        {% if page.cite_blocks %}
        <h5>References</h5>
        {% endif %}
        {% for block in page.citation_blocks %}
            {% include_block block with id=block.id %}
        {% endfor %}
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'waggylabs/js/process-references.js' %}"></script>
<script>
    window.MathJax =   { 
        tex: { tags: "ams" },
        startup: {
            ready: () => {
                const el = document.getElementById("page-body");
                processRefs(el);
                processCites(el);
                MathJax.startup.defaultReady();
                MathJax.startup.promise.then(() => {
                    processSidebarEquations(el);
                    updateMathJaxScroll(el);
                });
            }
        }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}



