{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load waggylabs_tags %}

{% block title %}Search{% endblock %}

{% block content %}
    <form action="{% url 'search' %}" method="get">
        {% csrf_token %}
        <div class="input-group input-group-lg mb-3">
            <input type="text" name="query" class="form-control" placeholder="Search query" aria-label="Search query" aria-describedby="submit-query" value="{{ search_query }}">
            <input type="submit" class="btn btn-outline-secondary" value="Search" id="submit-query">
        </div>
    </form>

    {% if search_results %}
        {% for result_page in search_results %}
        <div class="mb-3">
            <h2><a class="nav-link" href="{% pageurl result_page %}">{% search_results_title result_page search_tokens %}</a></h1>
            {% search_results_body result_page search_tokens %}
        </div><hr />
        {% endfor %}
    {% elif search_query %}
        No results found
    {% else %}
        Please type something into the search box
    {% endif %}
{% endblock %}