{% load wagtailcore_tags %}

<div class="accordion" id="id-{{ id }}">
    {% for item in value.items %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="id-{{ id }}-heading-{{ forloop.counter0 }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#id-{{ id }}-collapse-{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapseOne">
            {{ item.heading }}
          </button>
        </h2>
        <div id="id-{{ id }}-collapse-{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="id-{{ id }}-heading-{{ forloop.counter0 }}" {% if value.keep_open is not True %}data-bs-parent="#id-{{ id }}"{% endif %}>
          <div class="accordion-body w-100">
            {% for block in item.body %}
            {% include_block block %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
</div>