{% load wagtailadmin_tags  %}

<div class="{{ classname }}">
    {% if help_text %}
    <span>
        <div class="help">
            {% icon name="help" class_name="default" %}
            {{ help_text }}
        </div>
    </span>
    {% endif %}
    <div class="waggylabs-grid-container-3">
        <div class="w-field waggylabs-flex-container" data-contentpath="{{ children.color.block.name }}">
            {{ children.color.render_form }}{% if children.color.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>{% endif %}
        </div>
        <div class="w-field waggylabs-flex-container" data-contentpath="{{ children.switch.block.name }}">
            {{ children.switch.render_form }}{% if children.switch.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>{% endif %}
        </div>
        <div class="w-field waggylabs-flex-container" data-contentpath="{{ children.controls.block.name }}">
            {{ children.controls.render_form }}{% if children.controls.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>{% endif %}
        </div>
    </div>
    <div data-contentpath="{{ children.items.name }}">
        {{ children.items.render_form }}
    </div>
</div>