{% load wagtailadmin_tags  %}

<div class="{{ classname }}">
    {% if help_text %}
    <span>
        <div class="help">
            {% icon name="help" class_name="default" %}
            {{ help_text }}
        </div>
    </span>
    {% endif %}
    <div class="w-field waggylabs-flex-container" data-contentpath="{{ children.link.block.name }}">
        {{ children.link.render_form }}{% if children.link.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>{% endif %}
    </div>
    <div class="waggylabs-grid-container-3">
        {% for child in children.values %}
        {% if child.block.name != 'link' %}
        <div class="waggylabs-flex-container w-100" data-contentpath="{{ child.block.name }}">
            {% comment "" %}{% if child.block.label %}
                <label class="w-field__label" {% if child.id_for_label %}for="{{ child.id_for_label }}"{% endif %}>{{ child.block.label }}{% if child.block.required %}<span class="w-required-mark">*</span>{% endif %}</label>
            {% endif %}{% endcomment %}
            {{ child.render_form }}{% if child.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>{% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>