span.reference { font-family: 'Courier New', Courier; font-size: 100%; font-weight: bold; }
span.reference a { text-decoration: none; }
.MathJax_ref { font-family: 'Courier New', Courier !important; font-size: 88.4% !important; font-weight: bold !important; }