/* General tweaks for Bootstrap */
/* Some Bootstrap blocks do not have bottom margin */
.block-margin { margin-bottom: 1rem; }
/* Image fit for the Card horizontal layout: waggylabs/frontend_blocks/card.html */
.img-fluid-h { max-width: 100%; }
/* Adds margin between link icon and link text for links on navbar and in cards of card grid */
.icon-margin { margin-right: 0.5rem; }
/* Additional viewport based height classes */
.max-vh-50 { height: 50vh; }
/* Inline pargarphs of markdown within captions. */
.figure-caption p { display: inline; }
/* Tables */
.table p { margin-bottom: 0px; }
/* links in navigation bar and car grid */
.card-footer a.nav-link { display: inline; text-decoration: underline; } 

/* Styles for references to figures, tables, listings */
span.reference { font-family: 'Courier New', Courier; font-size: 100%; font-weight: bold; }
span.reference a { text-decoration: none; }

/* MathJax tweaks */
.MathJax_ref { font-family: 'Courier New', Courier !important; font-size: 88.4% !important; font-weight: bold !important; }
.MJX-TEX mjx-mtd { scroll-margin-top: 80px; }

/* WaggyLabs classes */
/* Bold figure, table, embed, etc labels */
.waggylabs-entity-label { font-weight: bold; }
/* Classes for columns block */
.c-flex { display: flex; flex-flow: row wrap; }
.c-flex-fill { flex: 1; min-width: 0; }