{% load menu_tags %}
{% for item in menu_items %}
    <li class="nav-item {% if item.has_children_in_menu %}dropdown{% endif %}">
        <a href="{{ item.href }}"
            {% if item.has_children_in_menu %} 
                class="btn btn-link nav-link {{ item.active_class }} dropdown-toggle" id="ddtoggle_{{ item.link_page.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            {% else %}
                class="btn btn-link nav-link {{ item.active_class }}"
            {% endif %}>{{ item.text }}</a>
        {% if item.has_children_in_menu %}
        	{% sub_menu item template="waggy_labs/menus/sub_menu.html" %}
        {% endif %}
    </li>       
{% endfor %}