{% load wagtailcore_tags %}

<div class="waggylabs-page-body" data-waggylabs-page="page-{{ page.pk }}">
    {% with cut_break=False %}
    {% for block in value %}
        {% if block.block_type == 'cut' and page_in_list %}

        {% endif %}
        {% if block.block_type != 'citation' and block.block_type != 'document' and block.block_type != 'cut' %}
        {# these blocks a rendedered at the end of the page as references #}
        {% include_block block with id=block.id %}
        {% endif %}
    {% endfor %}

    {% if literature %}
    <h5>References</h5>
    <div class="waggylabs-literature">
        {% for block in literature %}
            {% include_block block with id=block.id %}
        {% endfor %}
    </div>
    {% endif %}

    {% if modals %}
    <div class="waggylabs-modals">
        {% for block in modals %}
            {% include_block block with id=block.id modal=True %}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>