{% load waggylabs_filters %}

{% if value.header or value.header_icon and not sidebar_tabs %}
<div class="card-header">
    {% if value.header_icon_location == 'end' %}
    <p class="{{ value.header_style }}">
        {{ value.header }}
        {% if value.header_icon|is_icon %}<i class="{{ value.header_icon|icon_class }}{% if value.header %} ms-1{% endif %}"></i>{% endif %}
    </p>
    {% else %}
    <p class="{{ value.header_style }}">
        {% if value.header_icon|is_icon %}<i class="{{ value.header_icon|icon_class }}{% if value.header %} me-1{% endif %}"></i>{% endif %}
        {{ value.header }}
    </p>
    {% endif %}
</div>
{% endif %}
{% if value.header or value.header_icon and footer %}
<h5>
    {% if value.header_icon_location == 'end' %}
        {{ value.header }}
        {% if value.header_icon|is_icon %}<i class="{{ value.header_icon|icon_class }}{% if value.header %} ms-1{% endif %}"></i>{% endif %}
    {% else %}
        {% if value.header_icon|is_icon %}<i class="{{ value.header_icon|icon_class }}{% if value.header %} me-1{% endif %}"></i>{% endif %}
        {{ value.header }}
    {% endif %}
</h5>
{% endif %}