{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}

<dl class="row">
    {% if value.show_user %}
    {% if value.show_header %}
        <dt class="col-sm-4">
            <a href="#" class="{{ value.header_style }}">>{{ value.user_header }}</a>
        </dt>
    {% endif %}
    {# TODO: add correct link after developing #}
    <dd class="{{ value.dd_width }}">
        <a href="#" class="{{ value.data_style }}">{% if value.full_name %}{{ value.full_name }}{% else %}{{ value.username }}{% endif %}</a>
    </dd>
    {% endif %}
    {% if value.email_header %}
    {% if value.show_header %}
        <dt class="col-sm-4">
            <a href="#" class="{{ value.header_style }}">>{{ value.email_header }}</a>
        </dt>
    {% endif %}
    <dd class="{{ value.dd_width }}"><a href="mailto:{{ value.email }}" class="{{ value.data_style }}">{{ value.email }}</a></dd>
    {% endif %}
    {% if value.show_first_published_at %}
    {% if value.show_header %}
        <dt class="col-sm-4">
            <a href="#" class="{{ value.header_style }}">>{{ value.first_published_at_header }}</a>
        </dt>
    {% endif %}
    <dd class="{{ value.dd_width }}">
        <div class="{{ value.header_style }}">
            {{ value.first_published_at|date:'j E, Y' }} {% if value.show_time %}{{ value.first_published_at|time:value.time_format }}{% endif %}
        </div>
    </dd>
    {% endif %}
    {% if value.show_last_published_at %}
    {% if value.show_header %}
        <dt class="col-sm-4">
            <a href="#" class="{{ value.header_style }}">>{{ value.last_published_at_header }}</a>
        </dt>
    {% endif %}
    <dd class="{{ value.dd_width }}">
        <div class="{{ value.header_style }}">
            {{ value.last_published_at|date:'j E, Y' }} {% if value.show_time %}{{ value.last_published_at|time:value.time_format }}{% endif %}
        </div>
    </dd>
    {% endif %}
</dl>