{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load waggylabs_filters %}

{% if value.show_pinned_posts %}
    {% if value.pinned_posts_header or value.pinned_posts_icon %}
        {% if value.pinned_posts_icon_location == 'end' %}
        <p class="{{ value.pinned_posts_header_style }}">
            {{ value.pinned_posts_header }}
            {% if value.header_icon|is_icon %}<i class="{{ value.header_icon|icon_class }}{% if value.header %} ms-1{% endif %}"></i>{% endif %}
        </p>
        {% else %}
        <p class="{{ value.pinned_posts_header_style }}">
            {% if value.header_icon|is_icon %}<i class="{{ value.header_icon|icon_class }}{% if value.header %} me-1{% endif %}"></i>{% endif %}
            {{ value.pinned_posts_header }}
        </p>
        {% endif %}
    {% endif %}
    {% for post in value.pinned_posts %}
    <div class="card {{ post_style }} mb-3">
        <div class="card-header">
            <p class="{{ value.post_title_style }}">{{ post.title }}</p>
        </div>
        <div class="card-body">
            {% include_block post.body with page=post, page_in_list=True %}
        </div>
        {% if value.show_footer %}
        <div class="card-footer">
            {% if value.show_avatar %}{{ post.owner.userprofile.avatar }}&nbsp;{% endif %}
            {% if value.show_username %}
            <a href="{% routablepageurl page 'posts_by_owner' post.owner.get_username %}" class="nav-link">
                {% if post.owner.get_full_name %}{{ post.owner.get_full_name }}{% else %}{{ post.owner.get_username }}{% endif %}
            </a>&nbsp;
            {% endif %}
            {% if value.show_first_published_at %}
                {% if value.datatime_style == 'timesince' %} 
                    {{ value.last_published_at|timesince }} {{ value.timesince_text }}
                    {% else %}
                    {{ value.last_published_at|date:'j E, Y' }} {% if value.datatime_style == 'datetime' %}{{ value.last_published_at|time:value.time_format }}{% endif %}
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}