{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load waggylabs_filters %}

<dl class="row">
    {% if page.categories and value.show_categories %}
    {% if value.show_header %}<dt class="col-sm-4 {{ value.categories_header_style }}">{{ value.categories_header }}</dt>{% endif %}
    <dd class="{{ value.dd_width }}">
        {% for category in page.categories %}
            <a class="{% if 'link' in value.categories_style %}nav-link{% endif %} {{ value.categories_style }} {% if 'btn' in value.categories_style %}mt-1{% endif %} mb-2 me-2" 
                href="{% routablepageurl post_list_page 'posts_by_category' category.post_category.slug %}">
                {{ category.post_category.name|markdown|safe }}
            </a>
        {% endfor %}
    </dd>
    {% endif %}
</dl>
