{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load waggylabs_filters %}

{% if footer %}
{# Post highligts are in footer #}
{% if value.header or value.header_icon %}
<h5>
{% if value.header_icon_location == 'end' %}
    {{ value.header }}
    {% if value.header_icon|is_icon %}<i class="{{ value.header_icon|icon_class }}{% if value.header %} ms-1{% endif %}"></i>{% endif %}
{% else %}
    {% if value.header_icon|is_icon %}<i class="{{ value.header_icon|icon_class }}{% if value.header %} me-1{% endif %}"></i>{% endif %}
    {{ value.header }}
{% endif %}
</h5>
{% endif %}
{% if value.posts.count > 0 %}
<ul class="list-unstyled overflow-hidden {{ value.text_wrap }}">
    {% for post in value.posts %}
    <li class="mb-2"><a href="{% pageurl post %}" >{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% else %}
<div class="card {{ value.block_style }} mb-3">
    {% if value.header or value.header_icon %}
    <div class="card-header">
        {% if value.header_icon_location == 'end' %}
        <p class="{{ value.header_style }}">
            {{ value.header }}
            {% if value.header_icon|is_icon %}<i class="{{ value.header_icon|icon_class }}{% if value.header %} ms-1{% endif %}"></i>{% endif %}
        </p>
        {% else %}
        <p class="{{ value.header_style }}">
            {% if value.header_icon|is_icon %}<i class="{{ value.header_icon|icon_class }}{% if value.header %} me-1{% endif %}"></i>{% endif %}
            {{ value.header }}
        </p>
        {% endif %}
    </div>
    {% endif %}
    <div class="card-body overflow-hidden {{ value.text_wrap }}">
        {% if value.posts.count == 0 %}
        <p>No posts</p>
        {% else %}
            {% if 'group' in value.posts_style %}
            <div class="{{ value.posts_style }}">
                {% for post in value.posts %}
                <a href="{% pageurl post %}" 
                    class="{{ value.post_style }} {% if 'btn' in value.post_style %}mt-1 mb-1{% endif %}">
                    <div class="d-flex justify-content-between align-items-center p-mb-0">
                        {{ post.title }}
                    </div>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <{% if 'number' in value.posts_style %}ol{% else %}ul{% endif %} class="{{ value.posts_style }}">
                {% for post in value.posts %}
                <li>
                    <a href="{% pageurl post %}" 
                        class="{{ value.post_style }} {% if 'btn' in value.post_style %}mt-1 mb-1{% endif %}">
                        {{ post.title }}
                    </a>
                </li>
                {% endfor %}
            </{% if 'number' in value.posts_style %}ol{% else %}ul{% endif %}>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}