{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load waggylabs_filters %}

{% if footer %}
    {# Post archives are in footer #}
    {% if value.archives.count > 0 %}
    <ul class="list-unstyled overflow-hidden {{ value.text_wrap }}">
        {% for date in value.archives %}
        <li class="mb-2">
            {% if value.archive_period == 'day' %}
            <a href="{% routablepageurl value.post_list_page 'posts_by_date' date|date:'Y' date|date:'b' date|date:'d' %}" >{{ date|date:'j E, Y' }}</a>
            {% elif value.archive_period == 'month' %}
            <a href="{% routablepageurl value.post_list_page 'posts_by_date' date|date:'Y' date|date:'b' %}" >{{ date|date:'E, Y' }}</a>
            {% else %}
            <a href="{% routablepageurl value.post_list_page 'posts_by_date' date|date:'Y' %}" >{{ date|date:'Y' }}</a>
            {% endif %}
        </li>
        {% endfor %}
        {% if value.more_archives.count > 0 %}
        <li>
            <a data-bs-toggle="collapse" href="#collapse-{{ id }}" role="button" aria-expanded="false" aria-controls="collapse-{{ id }}">
            {{ value.more_archive_text }}
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    {% if value.more_archives.count > 0 %}
    <ul id="collapse-{{ id }}" class="collapse list-unstyled overflow-hidden {{ value.text_wrap }}">
        {% for date in value.more_archives %}
        <li class="mb-2">
            {% if value.archive_period == 'day' %}
            <a href="{% routablepageurl value.post_list_page 'posts_by_date' date|date:'Y' date|date:'b' date|date:'d' %}" >{{ date|date:'j E, Y' }}</a>
            {% elif value.archive_period == 'month' %}
            <a href="{% routablepageurl value.post_list_page 'posts_by_date' date|date:'Y' date|date:'b' %}" >{{ date|date:'E, Y' }}</a>
            {% else %}
            <a href="{% routablepageurl value.post_list_page 'posts_by_date' date|date:'Y' %}" >{{ date|date:'Y' }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% else %}
    {% if value.archives.count > 0 %}
        {% if 'group' in value.list_style %}
        <div class="{{ value.list_style }}">
            {% for date in value.archives %}
                {% if value.archive_period == 'day' %}
                <a href="{% routablepageurl value.post_list_page 'posts_by_date' date|date:'Y' date|date:'b' date|date:'d' %}"
                    class="{{ value.post_style }} {% if 'btn' in value.post_style %}mt-1 mb-1{% endif %}">
                    {{ date|date:'j E, Y' }}
                </a>
                {% elif value.archive_period == 'month' %}
                <a href="{% routablepageurl value.post_list_page 'posts_by_date' date|date:'Y' date|date:'b' %}"
                    class="{{ value.post_style }} {% if 'btn' in value.post_style %}mt-1 mb-1{% endif %}">
                    {{ date|date:'E, Y' }}
                </a>
                {% else %}
                <a href="{% routablepageurl value.post_list_page 'posts_by_date' date|date:'Y' %}"
                    class="{{ value.post_style }} {% if 'btn' in value.post_style %}mt-1 mb-1{% endif %}">
                    {{ date|date:'Y' }}
                </a>
                {% endif %}
                {% if value.more_archives.count > 0 %}
                    <a data-bs-toggle="collapse" href="#collapse-{{ id }}" role="button" aria-expanded="false" aria-controls="collapse-{{ id }}"
                        class="{{ value.post_style }} {% if 'btn' in value.post_style %}mt-1 mb-1{% endif %}">
                        {{ value.more_archive_text }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <{% if 'number' in value.list_style %}ol{% else %}ul{% endif %} class="{{ value.list_style }}">
            {% for post in value.posts %}
            <li>
                <a href="{% pageurl post %}" 
                    class="{{ value.post_style }} {% if 'btn' in value.post_style %}mt-1 mb-1{% endif %}">
                    {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </{% if 'number' in value.posts_style %}ol{% else %}ul{% endif %}>
        {% endif %}
    {% endif %}
{% endif %}