{% load wagtailadmin_tags  %}

<div class="{{ classname }}">
    {% if help_text %}
    <span>
        <div class="help">
            {% icon name="help" class_name="default" %}
            {{ help_text }}
        </div>
    </span>
    {% endif %}
    <div class="waggylabs-link-wrapper">
        <div class="w-field waggylabs-link-wrapper" data-contentpath="{{ children.height_style.block.name }}">
            {{ children.height_style.render_form }}{% if children.height_style.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>{% endif %}
        </div>&emsp;
        <div class="w-field waggylabs-link-wrapper" data-contentpath="{{ children.grouping_style.block.name }}">
            {{ children.grouping_style.render_form }}{% if children.grouping_style.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>{% endif %}
        </div>
    </div>
    <div class="waggylabs-link-wrapper">
        <div class="w-field waggylabs-link-wrapper" data-contentpath="{{ children.orientation_style.block.name }}">
            {{ children.orientation_style.render_form }}{% if children.orientation_style.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>{% endif %}
        </div>&emsp;
        <div class="w-field waggylabs-link-wrapper" data-contentpath="{{ children.columns.block.name }}">
            {{ children.columns.render_form }}{% if children.columns.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>{% endif %}
        </div>
    </div>
    <div data-contentpath="{{ children.cards.block.name }}">
        {{ children.cards.render_form }}
    </div>
</div>