{% load wagtailadmin_tags  %}

<div class="{{ classname }}">
    {% if help_text %}
    <span>
        <div class="help">
            {% icon name="help" class_name="default" %}
            {{ help_text }}
        </div>
    </span>
    {% endif %}
    <div class="w-field waggylabs-link-wrapper" data-contentpath="{{ children.link.block.name }}">
        {{ children.link.render_form }}{% if children.link.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>&emsp;{% endif %}
    </div>
    <div class="waggylabs-link-wrapper">
        <div class="w-field waggylabs-link-wrapper" data-contentpath="{{ children.text.block.name }}">
            {{ children.text.render_form }}{% if children.text.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>&emsp;{% endif %}
        </div>
        <div class="w-field waggylabs-link-wrapper" data-contentpath="{{ children.style.block.name }}">
            {{ children.style.render_form }}{% if children.style.block.required %}<div class="w-field"><span class="w-required-mark">*</span></div>&emsp;{% endif %}
        </div>
    </div>
</div>