{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailmarkdown %}

{% if orientation_style == 'horizontal' %}
<div class="card mb-3 {% if height_style == 'equal' %}h-100{% endif %}">
  <div class="row g-0">
    <div class="col-md-4">
      {% image value.image original class='img-fluid-h rounded-start' %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ value.title }}</h5>
        {% if value.subtitle %}<h6 class="card-subtitle mb-2 text-muted">{{ value.subtitle }}</h6>{% endif %}
        {{ value.text|markdown|safe }}
      </div>
      {% if value.links %}
      <div class="card-footer">
        {% for link in value.links %}{% include_block link %}{% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% else %}
<div class="card{% if height_style == 'equal' %} h-100{% endif %}">
  {% image value.image original class='img-fluid card-img-top' %}
  <div class="card-body">
    <h5 class="card-title">{{ value.title }}</h5>
    {% if value.subtitle %}<h6 class="card-subtitle mb-2 text-muted">{{ value.subtitle }}</h6>{% endif %}
    {{ value.text|markdown|safe }}
  </div>
  {% if value.links %}
  <div class="card-footer">
    {% for link in value.links %}{% include_block link %}{% endfor %}
  </div>
  {% endif %}
</div>
{% endif %}