{% load wagtailimages_tags %}
{% load wagtailmarkdown %}

<div id="id-{{ id }}" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for item in value %}
      <button type="button" data-bs-target="#id-{{ id }}" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter0 }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for item in value %}
      <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
        {% image item.image original class='d-block w-100 img-fluid' %}
        <div class="carousel-caption d-none d-md-block">
          {{ item.caption|markdown|safe }}
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#id-{{ id }}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#id-{{ id }}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>