{% load wagtailcore_tags %}
{% load wagtailembeds_tags %}
{% load wagtailmarkdown %}

<figure class="mb-3 waggylabs-label-embed" {% if value.label %}id="{{ value.label }}"{% endif %}>
    <div class="border rounded">
        <div class="ratio ratio-16x9">
            {% embed value.embed.url %}
        </div>
    </div>
    {% if value.caption %}
        <figcaption class="figure-caption">
            {% if page.embed_caption_label %}<p class="me-2 waggylabs-entity-label">{{ page.embed_caption_label }}</p>{% endif %}{{ value.caption|markdown|safe }}
        </figcaption>
    {% endif %}
</figure>