{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailmarkdown %}
{% load waggylabs_filters %}

{% if sidebar %}
<figure class="figure" id="sidebar-bl-{{ id }}">
    <div class="waggylabs-sidebar-button-container">
        {% image value.image original class='img-fluid rounded' %}
        <button type="button" class="{{ visual_settings.preview_buttons_style }} waggylabs-sidebar-button" {% comment %} data-toggle="modal" data-target="#modal-{{ id }}"{% endcomment %}>
            {% if visual_settings.preview_buttons_icon|is_icon %}<i class="{{  visual_settings.preview_buttons_icon|icon_class }}{% if  visual_settings.preview_buttons_text %} me-1{% endif %}"></i>{% endif %}{{ visual_settings.preview_buttons_text }}
        </button>
    </div>
    {% if value.caption %}
        <figcaption class="figure-caption">
            {% if page.figure_caption_label %}<p class="me-2 waggylabs-entity-label">{{ page.figure_caption_label }}</p>{% endif %}{{ value.caption|markdown|safe }}
        </figcaption>
    {% endif %}
</figure>
{% else %}
<figure class="figure waggylabs-label-figure" {% if value.label %}id="{{ value.label }}"{% endif %} sidebar="bl-{{ id }}">
    {% image value.image original class='img-fluid rounded' %}
    {% if value.caption %}
        <figcaption class="figure-caption">
            {% if page.figure_caption_label %}<p class="me-2 waggylabs-entity-label">{{ page.figure_caption_label }}</p>{% endif %}{{ value.caption|markdown|safe }}
        </figcaption>
    {% endif %}
</figure>
{% endif %}