{% load wagtailcore_tags %}
{% load wagtailmarkdown %}

<div class="table-responsive waggylabs-label-table" {% if value.label %}id="{{ value.label }}"{% endif %}>
    <table class="table caption-top align-middle">
        {% if value.caption %}
        <caption class="figure-caption">
            {% if page.table_caption_label %}<p class="me-3 waggylabs-entity-label">{{ page.table_caption_label }}</p>{% endif %}{{ value.caption|markdown|safe }}
        </caption>
        {% endif %}
        {% include_block value.bound_blocks.table %}
        <tfoot class="table-group-divider">
            <tr>
                {% if value.footer %}
                <td colspan="{{ value.table.data.0|length }}" class="figure-caption">{{ value.footer|markdown|safe }}</td>
                {% endif %}
            </tr>
        </tfoot>
    </table>
</div>