{% load wagtailcore_tags %}
{% load wagtailmarkdown %}
{% load waggylabs_filters %}

{% if sidebar %}
<figure class="figure" id="sidebar-bl-{{ id }}">
    <div class="waggylabs-sidebar-button-container">
        <div class="d-flex justify-content-center border rounded ratio ratio-16x9 bg-secondary">
            <div class="align-self-center waggylabs-sidebar-label">
                <h5>Table placeholder</h5>
            </div>
        </div>
        <button type="button" class="{{ visual_settings.preview_buttons_style }} waggylabs-sidebar-button" {% comment %} data-toggle="modal" data-target="#modal-{{ id }}"{% endcomment %}>
            {% if visual_settings.preview_buttons_icon|is_icon %}<i class="{{  visual_settings.preview_buttons_icon|icon_class }}{% if  visual_settings.preview_buttons_text %} me-1{% endif %}"></i>{% endif %}{{ visual_settings.preview_buttons_text }}
        </button>
    </div>
    {% if value.footer %}
    <div class="figure-caption">{{ value.footer|markdown|safe }}</div>
    {% endif %}
    {% if value.caption %}
    <figcaption class="figure-caption">
        {% if page.table_caption_label %}<p class="me-2 waggylabs-entity-label">{{ page.table_caption_label }}</p>{% endif %}{{ value.caption|markdown|safe }}
    </figcaption>
    {% endif %}
</figure>
{% else %}
<div class="table-responsive waggylabs-label-table" {% if value.label %}id="{{ value.label }}"{% endif %} sidebar="bl-{{ id }}">
    <table class="table caption-top align-middle">
        {% if value.caption %}
        <caption class="figure-caption">
            {% if page.table_caption_label %}<p class="me-2 waggylabs-entity-label">{{ page.table_caption_label }}</p>{% endif %}{{ value.caption|markdown|safe }}
        </caption>
        {% endif %}
        {% include_block value.bound_blocks.table %}
        <tfoot class="table-group-divider">
            <tr>
                {% if value.footer %}
                <td colspan="{{ value.table.data.0|length }}" class="figure-caption">{{ value.footer|markdown|safe }}</td>
                {% endif %}
            </tr>
        </tfoot>
    </table>
</div>
{% endif %}